* {
    padding: 0;
    margin: 0;
}


/** page layout styling**/

body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

nav,
div {
    border: solid #000;
    border-width: 1px;
}

#sidebar {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
}

#header {
    grid-area: 1/2/2/3;
}

#dashboard {
    grid-area: 2/2/3/3;
}


/** sidebar styling*/

li {
    list-style-type: none;
}

h2 {
    align-self: center;
    padding-left: 15px;
}

#wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#navigation {
    align-self: center;
    padding-left: 15px;
}

#settings {
    align-self: flex-start;
    padding-left: 15px;
}