* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #164e63;
    --background-color: #e5e7eb;
}


/** page layout styling**/

body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sidebar {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 90px 1fr 1fr;
    background-color: var(--main-color);
    color: white;
}

#header {
    grid-area: 1/2/2/3;
}

#dashboard {
    grid-area: 2/2/3/3;
}


/** sidebar styling*/

li {
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
    font-weight: 500;
}

#sidebar h2 {
    align-self: center;
    padding-left: 15px;
    font-size: 2rem;
}

#wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#navigation {
    align-self: center;
    padding-left: 15px;
}

#settings {
    align-self: center;
    padding-left: 15px;
}


/* header styling */

#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search {
    margin: 0 40px;
    grid-area: 1/1/2/2;
    padding-left: 15px;
    align-self: center;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    height: 30px;
}

#profile {
    grid-area: 1/2/2/3;
    align-self: center;
    justify-self: flex-end;
    padding-right: 40px;
}

#welcome {
    grid-area: 2/1/3/2;
    display: flex;
}

#welcome-message {
    align-self: center;
    padding-left: 40px;
}

#buttons {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.header-button {
    justify-self: center;
    min-width: 80px;
    max-width: 80px;
    background-color: var(--main-color);
    color: white;
    border: 0;
    height: 35px;
    border-radius: 15px;
    font-weight: 400;
}


/*DASHBOARD STYLING*/


/*project styling*/

#dashboard {
    display: grid;
    grid-template-columns: 2.25fr .75fr;
    grid-template-rows: 50px 1fr 1fr;
    background-color: var(--background-color);
}

#projects {
    grid-area: 2 / 1 / span 2 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 40px 40px 40px;
}

.card {
    height: 120px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 10px 0px 10px;
}

.card p {
    font-size: .9rem;
    padding-top: 5px;
}

.card-text {
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / span 2;
}

#project-header,
#announce-header {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: start;
}

#project-header {
    padding-left: 40px;
}


/*announcement styling*/

#announcements {
    grid-area: 2/2/3/3;
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}

#announcements :first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#announcements :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.announce-wrapper {
    padding: 15px;
    height: 50px;
    background-color: white;
}


/*trending styling*/

#trending {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-area: 3/2/4/3;
    padding-top: 20px;
}

.trend-wrapper {
    height: 10px;
    padding: 15px 20px 20px 15px;
    background-color: white;
}

#trend-wrapper p {}

#trend-card :first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#trend-card :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}