* {
    padding: 0;
    margin: 0;
}


/** page layout styling**/

body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

nav,
div {
    border: solid #000;
    border-width: 1px;
}

#sidebar {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
}

#header {
    grid-area: 1/2/2/3;
}

#dashboard {
    grid-area: 2/2/3/3;
}


/** sidebar styling*/

li {
    list-style-type: none;
}

h2 {
    align-self: center;
    padding-left: 15px;
}

#wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#navigation {
    align-self: center;
    padding-left: 15px;
}

#settings {
    align-self: flex-start;
    padding-left: 15px;
}


/* header styling */

#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search {
    grid-area: 1/1/2/2;
    padding-left: 15px;
}

#profile {
    grid-area: 1/2/2/3;
    align-self: center;
    justify-self: flex-end;
    padding-right: 40px;
}

#welcome {
    grid-area: 2/1/3/2;
    display: flex;
}

#welcome-message {}

#buttons {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.header-button {
    justify-self: center;
    min-width: 60px;
    max-width: 60px;
}


/*DASHBOARD STYLING*/


/*project styling*/

#dashboard {
    display: grid;
    grid-template-columns: 2.25fr .75fr;
    grid-template-rows: 50px 1fr 1fr;
}

#projects {
    grid-area: 2 / 1 / span 2 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 40px 40px;
}

.card {
    height: 120px;
    background-color: gray;
}

#project-header,
#announce-header {
    padding-top: 20px;
    text-align: start;
}

#project-header {
    padding-left: 40px;
}


/*announcement styling*/

#announcements {
    grid-area: 2/2/3/3;
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.announce-wrapper {
    padding: 15px;
    height: 50px;
}